h2 {
    margin-left: 9%;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 2%;
}

.card {
    background-color: transparent;
    border: none;
}

.card-desktop {
    position: relative;
    width: 50%;
}

.card-mobile {
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.card-mobile .overlay {
    opacity: 1;
    width: 80%;
}

.cardimg {
    display: block;
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.1);
}

.card-deck {
    margin-top: 4%;
    margin-bottom: 55px;
    margin-left: 9%;
    margin-right: 9%;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, black 40%);
    color: #f1f1f1;
    width: 100%;
    transition: .2s ease;
    opacity:0;
    color: white;
    font-size: 12px;
    padding: 5%;
    padding-top: 20%;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }