input, input:focus, input:active {
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0px;
    color: white;
}

::ng-deep .dropdown-menu {
    background-color: #0b0b36;
    border-color: white;
}

::ng-deep .dropdown-item {
    color: white;
}